body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  height: 500px;
  width: 500px;
  position: relative;
}
.main_menu_button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: green;
  font-size: 30px;
  color: white;
}
#opened {
  display: none;
}
#menu_button {
  display: none;
}
.menu_item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 110px;
  width: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #333;
  font-size: 40px;
  color: white;
  transition: 0.5s;
  visibility: hidden;
  border: 1px solid #000;
}
#menu_button:checked ~ .fb_item {
  top: 135px;
  left: 180px;
  visibility: visible;
}
#menu_button:checked ~ .ig_item {
  top: 135px;
  left: 320px;
  visibility: visible;
}
#menu_button:checked ~ .lin_item {
  top: 250px;
  left: 395px;
  visibility: visible;
}
#menu_button:checked ~ .tw_item {
  top: 370px;
  left: 320px;
  visibility: visible;
}
#menu_button:checked ~ .gh_item {
  top: 370px;
  left: 180px;
  visibility: visible;
}
#menu_button:checked ~ .ytb_item {
  top: 250px;
  left: 104px;
  visibility: visible;
}
#menu_button:checked ~ label #closed {
  display: none;
  visibility: visible;
}
#menu_button:checked ~ label #opened {
  display: block;
  visibility: visible;
}
.fb_item:hover{
    background: #fff;
    color: #1877f2;
}
.ig_item:hover{
    background: #fff;
    color: #000000;
}
.lin_item:hover{
    background: #fff;
    color: #1877f2;
}
.tw_item:hover{
    background: #fff;
    color: #1877f2;
}
.gh_item:hover{
    background: #fff;
    color: #000000;
}
.ytb_item:hover{
    background: #fff;
    color: #f80000;
}


